<div class="row">
  <form class="col-sm-6">

    <div class="row">
      <div class="col-sm-6">
        <input class="form-control" type="text" {{bs-colorpicker color=color format='hex'}}>
      </div>

      <div class="col-sm-6">
        {{input classNames="form-control" type="text" value=color}}
      </div>
    </div>

    <div class="input-group" {{bs-colorpicker color=color format='hex'}}>
      <input type="text" class="form-control">
      <span class="input-group-addon"><i></i></span>
    </div>

    <button {{bs-colorpicker color=color format='hex'}} type="button" class="btn btn-default" style="background-color: {{color}}">Change color</button>

  </form>
</div>
